<div class="title title-icon-list">
    Danh sách hoạt động
</div>
<div class="text-center" style="margin-bottom: 50px">
    <span style="margin-right: 20px">Loại danh sách</span>
    <md-select ng-model="listType" style="width: 20%; display: inline-block">
        <md-option ng-value="opt.value" ng-repeat="opt in types">{{ opt.display }}</md-option>
    </md-select>
</div>
<div ng-switch on="listType">
    <div ng-switch-when="consulting">
        <jtable jtable-id="consulting-jtable" title="Danh sách tư vấn" list-action-url="/employee/all" fields="fields[0]"></jtable>
    </div>
    <div ng-switch-when="consulted">
        <jtable jtable-id="consulted-jtable" title="Danh sách được tư vấn" list-action-url="/employee/all" fields="fields[1]"></jtable>
    </div>
</div>
<!-- <h3 style="font-weight: bold">Gần đây</h3>
<div class="text-right">
    <span style="margin-right: 20px">Số ngày hiển thị</span>
    <md-select ng-model="recentDays" style="width: 5%; display: inline-block" ng-change="changeTitle()">
        <md-option ng-value="opt" ng-repeat="opt in [10,20,30,40]">{{ opt }}</md-option>
    </md-select>
</div> -->