<div id="{{filterBoxId}}" style="width: 100%">
    <form class="row" style="padding: 30px 50px" ng-submit="startFiltering()">
        <div class="col-sm-4 col-xs-12" style="padding-bottom: 10px" ng-style="{ opacity: mode == 'recent' ? 0.5 : 1 }">
            <label for="">Bắt đầu</label>
            <input type="text" class="form-control custom-input begin-date" ng-disabled="mode == 'recent'" ng-model="startDate" required>
        </div>
        <div class="col-sm-4 col-xs-12" style="padding-bottom: 10px" ng-style="{ opacity: mode == 'recent' ? 0.5 : 1 }">
            <label for="">Kết thúc</label>
            <input type="text" class="form-control custom-input end-date" ng-disabled="mode == 'recent'" ng-model="endDate" required>
        </div>
        <div class="col-sm-4 col-xs-12" style="padding-bottom: 10px">
            <label for="">Khoảng thời gian</label>
            <select class="form-control" ng-model="recentDays">
                <option value="10">10 ngày gần đây</option>
                <option value="15">15 ngày gần đây</option>
                <option value="20">20 ngày gần đây</option>
                <option value="30">30 ngày gần đây</option>
                <option value="0">Tùy chỉnh</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="button has-icon primary submit" style="margin-top: 30px">tiến hành lọc</button>
        </div>   
    </form>
</div>