.user-info-container {

	margin-bottom: 50px

}

.avatar {

    padding: 50px;
    background: linear-gradient(to bottom, #2d89b4, #297ca3);
}

.avatar img {

    margin-bottom: 30px;
    width: 100%;
}


.avatar span {

    font-size: 1.5em;
}


.user-content {

	padding: 20px 10px;

}

.user-content .list-group-item {

    padding-left: 50px;
}

.user-content i {

    width: 50px;
}