<div class="text-right">
    <a ui-sref="consultancy.list">Xem danh sách tư vấn</a>
</div>
<div class="title title-icon-details">
    thông tin tư vấn
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <form class="form-horizontal" style="padding-top: 20px">
                <div class="form-group">
                    <label class="control-label col-sm-5">Mã tư vấn:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{mainInfo.ConsID}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Khách hàng:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static"><a ui-sref="customer.details({ CustomerID: mainInfo.CustomerID})">{{mainInfo.CustomerID}} - {{customerName}}</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Nhân viên tư vấn:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static"><a ui-sref="employee.details({ EmplID: mainInfo.ConsultingEmplID})">{{mainInfo.ConsultingEmplID}} - {{consultingEmplName}}</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Nhân viên được tư vấn:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static"><a ui-sref="employee.details({ EmplID: mainInfo.ConsultedEmplID})">{{mainInfo.ConsultedEmplID}} - {{consultedEmplName}}</a></p>
                    </div>
                </div>
            </form>
            <hr>
            <div class="title" style="font-size: 1.2em; color: gray">
                đăng tài liệu mới
            </div>
            <uploader></uploader>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="title" style="font-size: 1.5em; color: blue">
                tài liệu hiện có
            </div>
            <filter-box filter-box-id="filter" filter-func="search(dateRange)"></filter-box>
            <static-jtable jtable-id="document-table" title="Danh sách" fields="fields" list-action="listAction(postData,params)" delete-action="deleteAction(postData)"
                is-deletable="true" instant-load="true"></static-jtable>
        </div>
    </div>
</div>