<div class="text-right">
    <a ui-sref="consultancy.list">Xem danh sách tư vấn</a>
</div>
<div class="title title-icon-details">
    thông tin tư vấn
</div>
<div class="container-fluid">
    <div class="row">
        <div>
            <form class="form-horizontal custom-form" style="padding-top: 20px" ng-submit="update()">
                <div class="form-group">
                    <label>Mã tư vấn:</label>
                    <input type="text" name="ConsID" class="form-control custom-input" value="{{mainInfo.ConsID}}" disabled>
                </div>
                <div class="form-group">
                    <label style="display: block">Khách hàng</label>
                    <!-- <div style="display: inline-block; position: relative; top: 8px">
                        <a ui-sref="customer.details({ CustomerID: info.CustomerID })"><span class="fa fa-2x fa-user"></span></a>
                    </div> -->
                    <select class="form-control custom-input" ng-model="info.CustomerID" style="display: inline-block">
                                        <option ng-repeat="obj in cusList" value="{{obj.Value}}">{{obj.DisplayText}}</option>
                                    </select>

                </div>
                <div class="form-group">
                    <label style="display: block">Nhân viên tư vấn</label>
                    <!-- <div style="display: inline-block; position: relative; top: 8px">
                        <a ui-sref="employee.details({ EmplID: info.ConsultingEmplID })"><span class="fa fa-2x fa-user"></span></a>
                    </div> -->
                    <select class="form-control custom-input" ng-model="info.ConsultingEmplID" style="display: inline-block">
                                <option ng-repeat="obj in empList" value="{{obj.Value}}">{{obj.DisplayText}}</option>
                            </select>

                </div>
                <div class="form-group">
                    <label style="display: block">Nhân viên được tư vấn</label>
                    <!-- <div style="display: inline-block; position: relative; top: 8px">
                        <a ui-sref="employee.details({ EmplID: info.ConsultedEmplID })"><span class="fa fa-2x fa-search"></span></a>
                    </div> -->
                    <select class="form-control custom-input" ng-model="info.ConsultedEmplID" style="display: inline-block">
                                    <option ng-repeat="obj in empList" value="{{obj.Value}}">{{obj.DisplayText}}</option>
                                </select>

                </div>
                <div class="form-group">
                    <label>Thời gian</label>
                    <input type="text" class="form-control custom-input" ng-model="info.Time" value="{{mainInfo.Time}}" date-picker required>
                </div>
                <div class="text-right" ng-style="{ 'opacity': isLoading ? '0.5' : '1' }">
                    <button type="submit" class="button has-icon primary submit">
                                                    <div ng-show="isLoading">
                                                        Đang lưu ...
                                                    </div>
                                                    <div ng-hide="isLoading">
                                                        Lưu
                                                    </div>
                                </button>
                    <button type="reset" class="button has-icon refresh">Trở lại mặc định</button>
                </div>
            </form>
        </div>
    </div>
    <div class="title title-icon-list" style="margin-top: 50px">
        tài liệu hiện có
    </div>
    <filter-box filter-box-id="filter" filter-func="search(dateRange)"></filter-box>
    <static-jtable jtable-id="document-table" title="Danh sách" fields="fields" list-action="listAction(postData,params)" delete-action="deleteAction(postData)"
        is-deletable="true" instant-load="true"></static-jtable>
    <div class="title" style="font-size: 1.2em; color: gray; margin-top: 50px">
        đăng tài liệu mới
    </div>
    <uploader></uploader>
</div>