<div class="title title-icon-list">
    lược sử tư vấn
    <div class="pull-right" style="font-size: 0.5em; position: relative; top: 10px" ng-if="isAdmin && !isInAdminMode">
        <a ui-sref="consultancy.admin-list">Xem toàn bộ danh sách</a>
    </div>
</div>
<div class="text-center">
    <ul class="nav nav-pills" ng-if="!isInAdminMode" style="margin-bottom: 50px">
        <li class="main-select" ng-class="{'active': mode == 'consulting'}"><a ui-sref="consultancy.list({ mode: 'consulting' })">Danh sách tư vấn</a></li>
        <li class="main-select" ng-class="{'active': mode == 'consulted'}"><a ui-sref="consultancy.list({ mode: 'consulted' })">Danh sách được tư vấn</a></li>
    </ul>
</div>
<filter-box filter-box-id="consultancy-filter" filter-func="filter(dateRange)"></filter-box>
<jtable jtable-id="consultancy-jtable" fields="fields" title="Danh sách tư vấn" list-action-url="listActionUrl" create-action-url="createActionUrl"
    update-action-url="updateActionUrl" delete-action-url="deleteActionUrl" instant-load="true"></jtable>