<div class="text-right">
    <a ui-sref="consultancy.list">Xem danh sách nghiên cứu</a>
</div>
<div class="title title-icon-details">
    thông tin nghiên cứu
</div>
<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills" style="margin-bottom: 50px">
            <li class="main-select" ng-class="{ active: mode == 'info'}" ng-click="mode = 'info'"><a href="javascript:;">Thông tin</a></li>
            <li class="main-select" ng-class="{ active: mode == 'study-empl'}" ng-click="mode = 'study-empl'"><a href="javascript:;">Nhân viên nghiên cứu</a></li>
            <li class="main-select" ng-class="{ active: mode == 'instruct-empl'}" ng-click="mode = 'instruct-empl'"><a href="javascript:;">Nhân viên hướng dẫn</a></li>
        </ul>
        <div ng-switch="mode">
            <form ng-submit="update()" class="form-horizontal custom-form" ng-switch-when="info">
                <div class="form-group">
                    <label>Mã nghiên cứu</label>
                    <input type="number" name="StudyID" class="form-control custom-input" ng-model="info.StudyID" value="{{mainInfo.StudyID}}"
                        disabled>
                </div>
                <div class="form-group">
                    <label>Tên nghiên cứu</label>
                    <input type="text" name="Name" class="form-control custom-input" ng-model="info.Name" value="{{mainInfo.Name}}" ng-disable="isLoading"
                        required>
                </div>
                <div class="form-group">
                    <label>Nội dung nghiên cứu</label>
                    <input type="text" name="Content" class="form-control custom-input" ng-model="info.Content" value="{{mainInfo.Content}}"
                        ng-disable="isLoading" required>
                </div>
                <div class="form-group">
                    <label style="display: block">Hội thảo liên quan</label>
                    <!-- <div style="display: inline-block; position: relative; top: 8px">
                        <a ui-sref="seminar.details({ SeminarID: info.Seminar })"><span class="fa fa-2x fa-user"></span></a>
                    </div> -->
                    <select class="form-control custom-input" ng-model="info.Seminar" style="display: inline-block">
                                        <option ng-repeat="obj in semList" value="{{obj.Value}}">{{obj.DisplayText}}</option>
                                    </select>

                </div>
                <div class="form-group">
                    <label>Thời gian nghiên cứu</label>
                    <input type="text" name="Time" class="form-control custom-input" ng-model="info.Time" value="{{mainInfo.Time}}" ng-disable="isLoading"
                        required date-picker>
                </div>
                <div class="text-right" ng-style="{ 'opacity': isLoading ? '0.5' : '1' }">
                    <button type="submit" class="button has-icon primary submit">
                                                        <div ng-show="isLoading">
                                                            Đang lưu ...
                                                        </div>
                                                        <div ng-hide="isLoading">
                                                            Lưu
                                                        </div>
                                    </button>
                    <button type="reset" class="button has-icon refresh">Trở lại mặc định</button>
                </div>
            </form>
            <div class="table-responsive" ng-switch-when="study-empl">
                <jtable jtable-id="study-employee-table" title="Danh sách nhân viên nghiên cứu" fields="studyEmployeeList.fields" list-action-url="studyEmployeeList.listActionUrl"
                    create-action-url="studyEmployeeList.createActionUrl" delete-action-url="studyEmployeeList.deleteActionUrl"
                    record-click="studyEmployeeList.select(id)" instant-load="true"></jtable>
            </div>
            <div class="table-responsive" ng-switch-when="instruct-empl">
                <jtable jtable-id="instruct-employee-table" title="Danh sách nhân viên hướng dẫn" fields="instructEmployeeList.fields" list-action-url="instructEmployeeList.listActionUrl"
                    create-action-url="instructEmployeeList.createActionUrl" delete-action-url="instructEmployeeList.deleteActionUrl"
                    record-click="instructEmployeeList.select(id)" instant-load="true"></jtable>
            </div>
        </div>
    </div>
    <div class="title title-icon-list" style="margin-top: 50px">
        tài liệu hiện có
    </div>
    <filter-box filter-box-id="filter" filter-func="search(dateRange)"></filter-box>
    <static-jtable jtable-id="document-table" title="Danh sách" fields="fields" list-action="listAction(postData,params)" delete-action="deleteAction(postData)"
        is-deletable="true" instant-load="true"></static-jtable>
    <div class="title" style="font-size: 1.2em; color: gray; margin-top: 50px">
        đăng tài liệu mới
    </div>
    <uploader></uploader>
</div>