<div class="title title-icon-details">
    thông tin khách hàng
    <div class="pull-right" style="padding: 5px 13px; position: relative; top: -5px; border-radius: 50%; background: linear-gradient(to bottom, gray, #2c3e50)">
        <a ui-sref="customer.list"><span class="fa fa-arrow-left" style="color: white"></span></a>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="/assets/images/user.png" alt="" class="img-circle img-responsive" style="width: 100%; padding: 20px">
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-xs-12">
            <form class="form-horizontal" style="padding-top: 20px">
                <div class="form-group">
                    <label class="control-label col-sm-5">Mã khách hàng:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{mainInfo.CustomerID}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Tên khách hàng:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{mainInfo.Name}}</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-xs-12">
            <form class="form-horizontal" style="padding-top: 20px">
                <div class="form-group">
                    <label class="control-label col-sm-5">Địa chỉ:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{mainInfo.Address}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Số điện thoại:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{mainInfo.Phone}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Người đại diện:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{mainInfo.Representative}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<jtable jtable-id="employee-jtable" fields="fields" title="Danh sách nhân viên quản lý" list-action-url="listActionUrl" create-action-url="createActionUrl" delete-action-url="deleteActionUrl" attached-list-data="attachedData" instant-load="true"></jtable>